
/.idea/

docker/mosquitto/config/password.txt
docker/mosquitto/config/mosquitto.conf
docker/mosquitto/log/mosquitto.log
docker/mosquitto/data/mosquitto.db

/docker/database/mysql/
/AppESP32.iml

.env
